.testimonials {
  padding: 40px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1280px) {
    padding: 40px 100px;
  }

  @media (max-width: 1024px) {
    padding: 40px 60px;
  }

  @media (max-width: 720px) {
    padding: 20px auto;
  }

  .section {
    margin-right: 20px;
    width: 260px;
    margin-bottom: 20px;

    img {
      width: 250px;
      height: 150px;
      object-fit: contain;
    }

    .title {
      font-size: 30px;
      font-family: "GilroyBold";
      margin: 20px 0;
    }

    .subtitle {
      font-size: 14px;
      font-family: "GilroyRegular";
      line-height: 20px;
    }
  }

  .testimonial {
    width: 310px;
    height: 232px;
    border: 1px solid #ececec;
    border-radius: 30px;
    padding: 25px;
    margin-bottom: 20px;

    .profile {
      display: flex;
      align-items: center;

      .profile-image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }

      .details {
        .name {
          font-size: 16px;
          font-family: "GilroyMediumItalic";
        }

        .role {
          font-size: 14px;
          font-family: "GilroyMedium";
        }
      }

      .number {
        width: 37px;
        height: 37px;
        border-radius: 100%;
        background-color: #f8f4f4;
        display: grid;
        place-items: center;
        margin-left: auto;

        p {
          font-size: 14px;
          font-family: "GilroyBold";
        }
      }
    }

    .comment {
      font-size: 14px;
      font-family: "GilroyRegular";
      margin-top: 15px;
      width: 90%;
      line-height: 20px;
    }
  }

  .icons {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 70px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #ececec;
      display: grid;
      place-items: center;
      margin: 6px 0;
      cursor: pointer;
    }
  }
}
