* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: white;
  color: #2d2d2d;
}

@font-face {
  font-family: "GilroyBold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "GilroyRegular";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "GilroyLight";
  src: url(./assets/fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: "GilroyMedium";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "GilroyMediumItalic";
  src: url(./assets/fonts/Gilroy-MediumItalic.ttf);
}

button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
