* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: white;
}

@font-face {
  font-family: "GilroyBold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "GilroyRegular";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "GilroyLight";
  src: url(./assets/fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: "GilroyHeavy";
  src: url(./assets/fonts/Gilroy-Heavy.ttf);
}

@font-face {
  font-family: "GilroyMedium";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}

button {
  &:focus {
    outline: none;
  }
}
