.benefits {
  padding: 100px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .benefit {
    width: 260px;
    height: 340px;
    border-radius: 25px;
    background-color: #f7fafd;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    img {
      width: 115px;
      height: 110px;
      object-fit: contain;
      align-self: center;
    }

    .title {
      font-size: 26px;
      font-family: "GilroyBold";
      margin-top: 50px;
    }

    .sub-title {
      font-size: 14px;
      font-family: "GilroyRegular";
      margin-top: 3px;
    }
  }
}
